# Local Files
local/

# Temporary Files
*.tmp

# Archives
*.gz
*.tar
*.tgz
*.zip

# MacOS
.DS_Store

# Sublime Projects
*.sublime-project
*.sublime-workspace

#-------------------------------------------------------------------------------

# Prove
.prove

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof/
nytprof.out

#-------------------------------------------------------------------------------

# GitHub Actions
/src/
